<%= @game.active_player.name %> attacks <%= @game.opponent.name %>

<br />
<%= @game.player2.name %> has <%= @game.player2.hitpoints %> points
<%= @game.player1.name %> has <%= @game.player1.hitpoints %> points

<a href="/switch">Next turn </a>
