<%= @game.player1.name %> attacks <%= @game.player2.name %>
<br />
<%= @game.player2.name %> has <%= @game.player2.hitpoints %> points
<%= @game.player1.name %> has <%= @game.player1.hitpoints %> points

<a href="/play">Next turn </a>
