<h2>Players: <%= @game.player1.name %> and <%= @game.player2.name %></h2>

<div class="hitpoints">
  <h4><%= @game.player2.name %> has <%= @game.player2.hitpoints %> points</h4>
  <h4><%= @game.player1.name %> has <%= @game.player1.hitpoints %> points</h4>
  <h5 class="turn"><%= @game.active_player.name %>'s turn</h5>

  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
